.margin-top{
    margin-top: 30px;
}

img {
    border-radius: 8px;
    height: 245px;
    width: 100%;
    float: left;
}

.blacklist {
    padding-left: 172px;
    display: block;
    position: absolute;

    img {
        opacity: 0.7;
        width: 378px;
    }
}