<facets-block-ui [isBlocked]="isBlocked"></facets-block-ui>
<div class="dialog-head">
    <div class="title" *ngIf="dialogData.data.isEdit">Update Pass Category</div>
    <div class="title" *ngIf="!dialogData.data.isEdit">Add Pass Category</div>
    <button class="btn btn-outline-primary-close" mat-icon-button (click)="discard()"><span
            class="material-icons-round">close</span>
    </button>
</div>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="passCategoryForm">
        <div class="row" *ngIf="!passCategoryModel.isDefault">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group w-100">
                    <label>Pass Category</label>
                    <input class="form-control" formControlName="name">
                </div>
                <div class="danger" *ngIf="validationModel.displayMessage.name">
                    {{validationModel.displayMessage.name}}
                </div>
            </div>
        </div>
        <div class="row mt-4" *ngIf="!passCategoryModel.isDefault">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group w-100">
                    <label>Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        formControlName="description"></textarea>
                </div>
            </div>
        </div>

        <div class="row mt-4" *ngIf="dialogData.data.isEdit == false">
            <label *ngIf="!passCategoryModel.isDefault">Select Pass Type</label>
            <div *ngIf="!passCategoryModel.isDefault" class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group w-100">
                    <label class="mr-2">
                        <input class="mr-1" type="radio" name="passCategoryType" formControlName="passCategoryType"
                            [value]="'Custom_Visitor'" checked>Visitor
                    </label>
                    <label>
                        <input class="mr-1" type="radio" name="passCategoryType" formControlName="passCategoryType"
                            [value]="'TeamMember'">Team Member
                    </label>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group w-100">
                    <label>Pick a color</label>
                    <input class="form-control" [style.background]="color" [colorPicker]="color" [cpCmykEnabled]="true" (colorPickerSelect)="cmykColor=onChangeColorCmyk($event);color=$event"
                        (cpCmykColorChange)="cmykValue=$event"
                        (colorPickerChange)="cmykColor=onChangeColorCmyk($event);color=$event" />
                </div>
            </div>
        </div>
        
    </form>
    <div class="action-footer mt-4">
        <button type="button" class="btn btn-light mr-2" (click)="discard()">Discard</button>
        <button type="button" *ngIf="!dialogData.data.isEdit" class="btn btn-primary" (click)="create()">Save</button>
        <button *ngIf="dialogData.data.isEdit" type="button" class="btn btn-primary" (click)="update()">Update</button>
    </div>
</mat-dialog-content>