<facets-block-ui [isBlocked]="isBlocked"></facets-block-ui>
<section>
    <div class="container" *ngIf="!isPasswordReset">
        <div class="forms login-card">
            <div class="form-content">
                <form [formGroup]="resetPasswordForm" class="login-card">
                    <div class="head">
                        <div class="log">
                            <img src="../../../../assets/images/logo.svg" alt="Sri Lanka Gem and Jewellery Association"
                                width="230" height="100">
                        </div>
                        <div class="title-head">Reset password</div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Password<span class="danger-color">*</span></label>
                        <div class="input-group mb-3">
                            <input autocomplete="new-newPassword" [type]="isPasswordHide ? 'password' : 'text'"
                                placeholder="" formControlName="newPassword" class="form-control">
                            <div class="input-group-append">
                                <button type="button" (click)="isPasswordHide = !isPasswordHide" class="hide-show"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHide">
                                    <mat-icon>{{isPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="danger" *ngIf="validationModel.displayMessage.password">
                            {{validationModel.displayMessage.password}}
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Confirm Password<span class="danger-color">*</span></label>
                        <div class="input-group mb-3">
                            <input autocomplete="new-confirmPassword"
                                [type]="isConfirmPasswordHide ? 'password' : 'text'" placeholder=" "
                                formControlName="confirmPassword" class="form-control">
                            <div class="input-group-append">
                                <button type="button" (click)="isConfirmPasswordHide = !isConfirmPasswordHide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isConfirmPasswordHide" class="hide-show">
                                    <mat-icon>{{isConfirmPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="danger" *ngIf="validationModel.displayMessage.confirmPassword">
                            {{validationModel.displayMessage.confirmPassword}}
                        </div>
                    </div>

                    <div class="foot">
                        <button type="submit" class="btn btn-primary" (click)="resetPassword()">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="isPasswordReset">
        <div>Password has been successfully reset, please click to <a [routerLink]="['/login']">login</a></div>
    </div>
</section>