.pl-n{
    margin-right: 10px;
}

.mb-later{
    margin-bottom: 2px;
}

.pay-dis{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    margin: 10px 8px;
    border: 1px solid rgb(168, 168, 168);
}

// .both-type{
//     display: flex;
// }

// button{
//     justify-content: center !important;
// }