<div class="row">
    <div class="col">
        <div class="info-card">
            <div class="card-h container-fluid">
                <div class="sub-head">Select template size</div>
            </div>
            <hr>
            <div class="card-b">
                <div class="container-fluid">
                    <div class="row mt-3">
                        <div class="col">
                            <label class="mr-2">
                                <input class="mr-1" type="radio" name="optradio-pass" (change)="changeSearchValue()" [(ngModel)]="selectedTemplateSize"
                                    [value]="'A6'" checked>Standard
                            </label>
                            <!-- <label>
                                <input class="mr-1" type="radio" name="optradio-pass" (change)="changeSearchValue()" [(ngModel)]="selectedTemplateSize"
                                    [value]="'A7'">A7
                            </label> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>