img {
    border-radius: 8px;
    height: 245px;
    width: 100%;
    float: left;
    object-fit: contain;
}

.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #0177FB;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
}

.file-input__label svg {
    height: 16px;
    margin-right: 4px;
}

.image{
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 768px){
    img {
        border-radius: 8px;
        height: 200px;
        float: left;
    }
}