.form-control {
    margin-top: 6px;
    border: solid 1px #cdcdcd !important;
    font-weight: 300 !important;
    border-radius: 4px !important;
    width: 120px !important;
    height: 40px !important;
}

.table-first-pav{
    padding-right: 50px;
}

.container{
    overflow-y: scroll !important;
}