<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="../../../../assets/images/verification.png" alt="Login" width="200" height="200">
        </div>
        <div class="title-head">Congratulations</div>
        <div class="para">Your registration has been successful</div>
        <div class="input-field mt-4">
            <button class="submit" (click)="navigateToPassGeneration()" *ngIf="sharedService.onSitePayingMode == onSitePayingModel.payAtRegistration">
                Generate Pass</button>
            <button class="btn btn-link" (click)="navigateToVisitorRegistration()">
                Back to Visitor Registration</button>
        </div>
    </div>
</div>