.sub-head{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 10px 0 !important;
}

.rate-header{
    margin-top: 20px !important;
}

.sub-head-dis{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
}